<html>
   <head>
       <title>Welcome to {{ http_host }}!</title>
   </head>
   <body>
       <h1>The {{ http_host }} virtual host is online!</h1>
       <h2><a href='http://10.70.0.50/info.php'>CLICK HERE TO REDIRECT TO THE PHP INFO PAGE<a><h2>
   </body>
</html>
